<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/960.css" />
<link rel="stylesheet" href="/css/main.css" />

</head>
<body style="margin-top:0px;">


<div class="container_12">
	<div class="grid_1 prefix_3 suffix_8">
		<img src="/images/logo.png" height="35px" width="35px"/>
	</div>	
	
	<div class="clear"></div>


	<div class="grid_12">
		<div class="grid_3 alpha">
			<p>
				
			</p>
		</div>
		<div class="grid_5">
			<p>
				<h1> Our Blog </h1>
			</p>
		</div>

		<div class="grid_1">
			<p>
				<b>  </b>
			</p>
		</div>
		<div class="grid_3 omega">
			<p>
			</p>
		</div>

		<div class="clear"></div>
	</div>


	
	
	<div class="grid_12">
		<div class="grid_2 alpha">
			<p>
				
			</p>
		</div>
		<div class="grid_8">
			<p>
				  {{ content }}
				
			</p>
		</div>
		<div class="grid_2 omega openfolks">
		  <br/>	
		  <br/>	
		  <br/>	
		  <br/>	
		  <b>Open Folks</b> 
			<br/>
		  <a href="http://codeforamerica.org">Code for America:</a><br/> Connecting city governments and Web 2.0 talent.<br/> 
		  <a href="http://openplans.org">Open Plans:</a><br/>We make cities work better.<br/> 
		  <a href="http://expertlabs.org">Expert Labs:</a><br/>Better Technology. Better Answers. Better Government.<br/> 
		</div>

		<div class="clear"></div>
	</div>



	<div class="grid_12 footer">
		<div class="grid_2 alpha">
			<p>
				
			</p>
		</div>
		<div class="grid_2">
			<p>
		        Open Muni Labs<br />        
		        info@openmunilabs.org

				
			</p>
		</div>
		<div class="grid_6">
			<p>
		        <a href="http://github.com/openmunilabs/">github.com/openmunilabs</a><br />
		        <a href="http://twitter.com/openmunilabs/">twitter.com/openmunilabs</a><br />
			</p>
		</div>
		<div class="grid_2 omega">

			<p>
				
			</p>
		</div>

		<div class="clear"></div>
	</div>

	<script type="text/javascript">
	var disqus_shortname = 'openmunilabsblog';
	(function () {
	  var s = document.createElement('script'); s.async = true;
	  s.src = 'http://disqus.com/forums/openmunilabsblog/count.js';
	  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
	</script>



	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-18980020-1']);
	  _gaq.push(['_setDomainName', '.openmunilabs.org']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	

</body>
</html>